<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233022973459-2euqpmj3im2qgbuknu5pa57rmql87pk1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233022973459-2euqpmj3im2qgbuknu5pa57rmql87pk1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>233022973459-3bc5i8l0vc9vrcmqgavh05e88nrkuv2o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBC-l7T7Fl4TIvXxUZxpM62enxDXWVALa0</string>
	<key>GCM_SENDER_ID</key>
	<string>233022973459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.barnlab.kassis</string>
	<key>PROJECT_ID</key>
	<string>cleaning-products-fb2c7</string>
	<key>STORAGE_BUCKET</key>
	<string>cleaning-products-fb2c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233022973459:ios:8f6fc9a678447432d881e6</string>
</dict>
</plist>